* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.header {
  width: 100%;
  line-height: 100px;
  background-color: #f5ba13;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.8);
}
.header h1 {
  font-family: "Anton", sans-serif;
}
form {
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: relative;
}
input {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}
.my-notes h1 {
  color: #34495e;
}
.my-notes p {
  color: grey;
}
.MuiButton-root {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 220px;
  cursor: pointer;
  background-color: #fff;
  /* box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0); */
  /* border-color: #ccc; */
}
.sub_btn {
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 219px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
}
.bton {
  background-color: rgb(154, 158, 161);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}
.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}
/* .MuiButton-root .plus_sign {
  font-size: 45px;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
} */
.MuiButton-root:hover {
  background: #f4b400;
}
/* .MuiButton-root .plus_sign {
  color: #fff;
  background: transparent;
} */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note.btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0);
  border-radius: 50%;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
  border: none;
}
.btndel {
  background: transparent;
  border-radius: 50%;
  border: none;
  top: 8px;
  left: 90px;
  /* top: -30px; */
  position: relative;
}

/* .note .btn:hover {
  background-color: #f5ba13;\\\\\\\\\\\\\\\
}
.note .btn:hover .deleteIcon {
  color: #fff;
} */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
